# University of South Carolina - HeRC Lab - Recommended nfs-common config for
# Ubuntu 16.04 Xenial Workstations and Servers

# Maintainer Information:
#   Active Maintainer: Charles Daniels - cdaniels@fastmail.com
#   Alternate Contact: Viraj Patel     - virajpatel20@gmail.com
#     Faculty Contact: Jason Bakos     - jbakos@mailbox.sc.edu
#
#   Please email any improvements to the active maintainer!
#
# Notes:
#   It's not entirely clear what this does, but it seems to help NFS with
#   id mapping.
#
# Update History:
#   2017-02-02 - Charles Daniels - initial version


STATDOPTS=
NEED_GSSD=no
NEED_IDMAPD=yes
