# University of South Carolina - HeRC Lab - Recommended sudoers config for
# Ubuntu 16.04 Xenial Workstations and Servers 

# Maintainer Information:
#   Active Maintainer: Charles Daniels - cdaniels@fastmail.com
#   Alternate Contact: Viraj Patel     - virajpatel20@gmail.com
#     Faculty Contact: Jason Bakos     - jbakos@mailbox.sc.edu
#   
#   Please email any improvements to the active maintainer! 
#
# Notes:
#   This sudoers config enables pwfeedback, which is a subjective preference
#   of the active maintainer. It also gives the user "user" sudo access, as
#   this user is used for initial configuration/bootstraping within the HeRC
#   lab. Further, it gives all members of the herc group sudo access,  per
#   lab policy.
#
# Update History: 
#   2017-01-17 - Charles Daniels - initial version


Defaults  env_reset
Defaults  mail_badpass
Defaults  secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
Defaults  pwfeedback

# User Privileges
root  ALL=(ALL:ALL) ALL
user  ALL=(ALL:ALL) ALL

# Group Privileges
%admin ALL=(ALL) ALL
%sudo  ALL=(ALL:ALL) ALL
%herc  ALL=(ALL:ALL) ALL

